:root{
    /* Colores principales en el degradado del logo */
    --amarillo: #FFE031;
    --rosa: #FF66C4;
    --morado: #A77BFF;

    /* Iconos STEAM */
    --verdeSteam: #9bffb2; 
    --celesteSteam: #47e2ff; 
    --amarilloSteam: #ffeb3f; 
    --naranjaSteam: #fd9b1e; 
    --rojoSteam: #ff3838;
}

body{
    margin: 0;
    padding: 0;
    font-size: 'Montserrat', sans-serif;
}

h1{
    margin: 0;
    font-size: 35px;
}
h2{
    margin: 0;
    padding-top: 0.75%;
    font-size: 15px;
}

/* TOP */
.row.top_bar{
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef
}

.col-md-5.top_buttons {
    align-items: center;
    text-align: end;
    margin: auto 0;
}

.btn.search_button{
    background-color: white;
}

.logo {
    position: relative;
    width: 12vw;
    padding-block: 1%;
}

.row.top_bar h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
}

.row.top_bar h1, .row.top_bar h2{
    color: var(--morado);
}

/* NAVEGACIÓN */
.nav_container h1, .nav_container h2{
    color: white;
}

.nav_container h1{
    font-weight: bold;
}

.nav_container {
    text-align: center;
    background-image: url("../media/degradado.png");
    background-size: auto 100%;
    margin-top: 0.75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;      
}

.nav_container, .content{
    padding-block: 3%;
    width: 90%;
}

#nav_buttons{
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
}

#nav_buttons input:hover{
    opacity: 0.8;
}

/*MODAL INICIAR SESION*/
.bgPurple{
    background-color: var(--morado);
    color: white;
}

.socialMediaButton {
    text-align: left;
    margin-bottom: 5%;
}

#socialMediaIcons{
    width: 7%;
}

.link {
    text-decoration: underline;
    margin-bottom: 2%;
}

.link:hover{
    color: var(--morado);
    text-decoration: underline;
}

.signUpButton{
    background-color: rgba(167,123, 255, 0.2) ;
}

.signUpButton:hover {
    background-color: rgba(167,123, 255, 1) ;
    color: white;
}

#imgModal {
    object-fit: cover;
    height: 100%
}

/* CONTENEDOR PRINCIPAL */
.content {   
    padding-inline: 3%;
    padding-block: 3%;
}

.content h1{
    color: grey;
    font-size: 25px;
    font-weight: bold;
    font-variant: all-small-caps;
    padding-block: 1.5%;
}

.destacado{ 
    margin-right: 0;
    margin-left: 0;
    text-align: left;
    border-radius: 15px;
    background-color: #f8f9f9;
}

.destacado, .destacado img{
    height: 40vh;
}

.destacado img{
    object-fit: cover; 
    width: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.destacado .col-md-5{
    padding-right: 0;
    padding-left: 0;
}

.destacado .col-md-7{
    padding-block: 3%;
    padding-inline: 5%;
}

.destacado h3{
    font-weight: bold;
}

.destacado p{
    margin: 2% auto;
    height: 60%;    
}

.destacado button{
    float: right;

}

.carrusel{
    justify-content: center;
}

.carousel-inner{
    height: 60%;
}

.carousel-item .card{
    border-radius: 15px;
    border-width: 0px;
    height: 100%;
    background-color: #f8f9f9;
}

.carousel-item .card h4{
    font-size: 20px;
}

.carousel-item .card p{
    font-size: 15px;
}

.carrusel img{
    object-fit: cover; 
    width: 100%;
    height: 20vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* FOOTER */
footer{
    border-top: 1px solid #e9ecef;   
    margin-top: 0.75%;
    padding-block: 1%;
    justify-content: space-evenly;
    margin: 0 0;
}
footer .col-md-3{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
footer a{
    display: block;
    padding-top: 1%;  
    color: var(--morado);
}

/**/


