@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&family=Shrikhand&display=swap');
:root{
    /* Colores principales en el degradado del logo */
    --amarillo: #FFE031;
    --rosa: #FF66C4;
    --morado: #A77BFF;

    /* Iconos STEAM */
    --verdeSteam: #9bffb2; 
    --celesteSteam: #47e2ff; 
    --amarilloSteam: #ffeb3f; 
    --naranjaSteam: #fd9b1e; 
    --rojoSteam: #ff3838;

    /* Relleno */
    --colorClaro: #f8f9f9;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 0;
    font-size: 35px;
}
h2{
    margin: 0;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    font-size: 15px;
}

/* TOP */
.top_bar{
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    border-bottom: 1px solid #e9ecef;
    padding: 1% 1%;
}

#top_buttons {
    text-align: end;
    margin: auto 0;
}

.btn.search_button{
    background-color: white;
}

.logo {
    position: relative;
    height: 80px;
    width: auto;
    margin-block: auto;
    justify-self: center;
}

.top_bar h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
}

.top_bar h1, .top_bar h2{
    color: var(--morado);
}

/* NAVEGACIÓN */
.colored_container h1, .colored_container h2, .colored_container p{
    color: white;
}

.colored_container h1 {
    font-weight: bold;
}

.colored_container {
    text-align: center;
    background-image: url("../media/degradado.png");
    background-size: auto 100%;
    margin-top: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}

.colored_container, .content {
    padding-block: 3%;
    width: 90%;
}

.nav_buttons{
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
}

.nav_buttons input{
    width: 10vw;
    max-width: 80px;
    height: auto;
}

.nav_buttons p{
    margin-bottom: 0;
    font-size: 1.2vw;
}

.nav_buttons input:hover{
    opacity: 0.8;
}



/*MODAL INICIAR SESION*/
.bgPurple{
    background-color: var(--morado);
    color: white;
}

.socialMediaButton {
    text-align: left;
    margin-bottom: 5%;
}

#socialMediaIcons{
    width: 7%;
}

.link {
    text-decoration: underline;
    margin-bottom: 2%;
}

.link:hover{
    color: var(--morado);
    text-decoration: underline;
}

.signUpButton{
    background-color: rgba(167,123, 255, 0.2) ;
}

.signUpButton:hover {
    background-color: rgba(167,123, 255, 1) ;
    color: white;
}

#imgModal {
    object-fit: cover;
    height: 100%
}

/* SEARCH MODAL */
.modal-dialog{
    margin-top: 0;
    margin-inline: 0;
}
.modal-content{
    width: 100vw;
    border-radius: 0px;
    border-width: 0px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.modal-header{
    margin-inline: 5%;
    height: 10vh;
}

.search-bar{
    width: 80vw;
    margin: auto 3% auto 3%;
    border-width: 0;
    border-radius: 0;
    border-bottom: solid 1px gray;
    font-size: 15px;
    color: gray;
}
.modal-header textarea:focus, input:focus {
    outline: 0;
    border-bottom-width: 2px;
    border-bottom-color: #8c6cb8;
    transition: color 1s border-bottom-width 1s;
}

/* CONTENEDOR PRINCIPAL */
.content {   
    padding-inline: 3%;
    padding-block: 3%;
}

.content h1{
    color: grey;
    font-size: 25px;
    font-weight: bold;
    font-variant: all-small-caps;
    padding-block: 1.5%;
}

.row .content{
    margin-right: 0;
    margin-left: 0;
}

.destacado_titulo{
    justify-content: space-between;
    margin-block: 3%;
    margin-inline: 0;
}

.destacado_boton, .destacado_texto{
    width:auto;
    padding-inline: 0;
}

.destacado_boton{
    display: flex;
    justify-content: right;
}

.destacado_boton button{
    height: fit-content;
}

.destacado{ 
    text-align: left;
    border-radius: 15px;
    background-color: var(--colorClaro);
    margin-inline: 0;
}

.destacado a, .card a{
    text-decoration: none;
    color: #212529;
}

.columna_imagen img{
    object-fit: cover;
    width: 100%;
    height: max-content;
    border-radius: 1rem 1rem 0 0;
}

@media screen and (min-width: 48em){
    .columna_imagen img{
        width: 100%;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
    }   
}

.destacado .columna_imagen{
    padding-right: 0;
    padding-left: 0;
}

.destacado .columna_texto{
    padding-block: 3%;
    padding-inline: 5%;
}

.destacado h3{
    font-weight: bold;
}

.destacado p{
    margin: 2% auto;
    height: auto;    
}

.progress-bar{
    border-radius: 0.25rem;
    background-color: var(--morado);
}

.contenedor_carrusel {
    padding: 0;
    margin:0;
    max-width: 100%;
}

.carrusel{
    margin-block: 5%;
    margin-inline: 0;
    justify-content: center;
    border-radius: 15px;
}

.carrusel .col-md-12{
    padding-inline: 0px;
}

.card{
    border-radius: 15px;
    border-width: 0px;
    height: 100%;
    background-color: var(--colorClaro);
}

.card-body{
    display: grid;
    grid-template-rows: 2fr 3fr 0.5fr;
}

.card-body a{
    display: grid;
    align-items: center;
}

.card-title{
    font-size: 1rem;
}

.card-text{
    font-size: 0.75rem;
}

.carrusel_img{
    object-fit: cover; 
    width: 100%;
    height: 20vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-footer{
    padding: 0;
    border-top-width: 0px;
    background-color: var(--colorClaro);
}

.carousel-control-prev {
    left: -9%;
    width: 10%
}

.carousel-control-next {
    right: -9%;
    width: 10%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A77BFF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23A77BFF' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.time_icon{
    height: 16px; 
    width: auto; 
    border-radius: 0;
    border-width: 0px;
    opacity: 0.8;
}

.time_text{
    display:inline-flex;
    font-size: 12px;
    color: gray;
    margin-block: 2%;
}


/* ABOUT US */
.about_us{
    text-align: center;
}

.about_us h1{
    padding-top: 2%;
    padding-bottom: 0.5%;
    color: var(--morado);
}

.about_us h2{
    padding: 0;
    font-size: 15px;
    color: gray;
    font-variant: all-small-caps;
}

.about_us img{
    width: 50%;
    height: auto;
    margin-block: 3%;
    border-radius: 20px;
}

.about_us_texto {
    margin-top: 4%;
    background-color: var(--colorClaro);
    border-radius: 20px;
    border-width: 0;
    padding-inline: 5%;
    padding-block: 5%;
    width: 90%;
    margin-inline: auto;
    font-size: 15px;
}


/* FOOTER */
.footer_container{
    border-top: 1px solid #e9ecef;   
    margin-top: 2%;
    padding-block: 1%;
    padding: 2% 1%;
    margin-inline: 0px;
}
.footer_columna{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
footer a{
    display: block;
    padding-top: 1%;  
    color: grey;
}

footer a:hover{ 
    color: var(--morado);
}
/**/

@media only screen and (max-width: 600px){
    
}

/*PAGINA PROYECTOS*/
#project_header{
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    position: relative;
    margin: 15px auto;
}
#project_header h1 {
    font-weight: bold;
    font-size: xx-large;
}

.project{
    padding-top: 12px;
}

.project img{
    object-fit: cover;
    width: 100%;
    height: 90%;
    border-radius: 1rem 0 0 1rem;
}

.project a{
    color: black;
}

.project a:hover{
    color:var(--morado);
    text-decoration: underline;
}

.project p, .project ul{
    text-align: left;
}

.sidebar{
    position: sticky; /*Esto es para que el sidebar se deslize segun se mueva el contenido*/
    margin-left: 1px;
    top: 2rem;
}

.project .progress-bar{
    border-radius: 0.25rem;
    background-color: var(--amarillo);
}

.bgPink{
    background-color: var(--rosa);
    color: white;
}