:root{
    /* Colores principales en el degradado del logo */
    --amarillo: #FFE031;
    --rosa: #FF66C4;
    --morado: #A77BFF;

    /* Iconos STEAM */
    --verdeSteam: #9bffb2; 
    --celesteSteam: #47e2ff; 
    --amarilloSteam: #ffeb3f; 
    --naranjaSteam: #fd9b1e; 
    --rojoSteam: #ff3838;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    font-size: 35px;
}
h2{
    margin: 0;
    padding-top: 0.75%;
    font-size: 15px;
}

/* TOP */
.row.top_bar{
    justify-content: space-between;
    position: sticky;
    border-bottom: 1px solid #e9ecef
}

.col-md-5.top_buttons {
    align-items: center;
    text-align: end;
    margin: auto 0;
}

.btn.search_button{
    background-color: white;
}

.logo {
    position: relative;
    width: 12vw;
    padding-block: 1%;
}

.row.top_bar h1{
    font-size: 30px;
    font-weight: bold;
}

.row.top_bar h1, .row.top_bar h2{
    color: var(--morado);
}

/* NAVEGACIÓN */
.nav_container h1, .nav_container h2{
    color: white;
}

.nav_container {
    text-align: center;
    background-image: url("../media/degradado.png");
    background-size: auto 100%;
    margin-top: 0.75%;     
}

.nav_container, .content{
    width: 90%;
    padding-block: 3%;
}

#nav_buttons{
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
}

#nav_buttons input:hover{
    opacity: 0.8;
}


footer{
    text-align: center;
    background-color: var(--morado);
    margin-top: 0.75%;
    padding: 1% 8%;
}
footer div{
    padding-top: 1%;
}
.content { 
    background-color: var(--verdeSteam);
    height: 100vh;
    padding-inline: 3%;
}

.destacado{ 
    display: flex;
    background-color: rgb(197, 252, 218);
    flex-direction: row;
    flex-wrap: wrap;
}
.destacado img{
    position: relative;
}
